.menuTitle {
	font-size: 30px;
}

.logoParentDiv {
	text-align: center;
}

.logoHamburguer {
	width: 280px;
	margin-left: -30px;
	margin-top: 10px;
}

.hamburguerIconLines {
	width: 35px;
	height: 5px;
	background: black;
	margin: 6px 0;
}

.iconHamburguer {
	background: rgb(245, 247, 246);
	visibility: hidden;
	padding-left: 30px;
	padding-top: 19px;
	padding-bottom: 19px;
	font-size: 20px;
	font-weight: bolder;
	color: rgb(3, 2, 24);
}

.usernameLoggedInHamburguer {
	color: rgb(14, 57, 252);
}

.sidenav {
	background: rgb(185, 224, 230);
}

.sidebarLinks {
	color: rgb(67, 217, 255);
}

.menuTitle {
	visibility: hidden;
}

.menuTitleAuth {
	visibility: hidden;
}

.logoutBtnHomeSideBar {
	margin-top: 10px;
	background: rgb(19, 21, 48);
	padding: 5px 30px 5px 30px;
	border-radius: 10px;
	font-size: 20px;
	color: white;
	border: solid 1px white;
	text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

@media (max-width: 360px) {
	.menuTitle {
		visibility: visible;
		display: block;
		/* margin-left: 45%; */
		margin-top: -5px;
		padding-top: 35px;
		font-size: 25px;
	}

	.sidebarLinks {
		text-align: center;
	}

	.usernameLoggedInHamburguer {
		text-align: center;
	}

	.logoutBtnHomeSideBar {
		margin-left: 30%;
	}

	.menuTitleAuth {
		visibility: visible;
		margin-top: -5px;
		/* width: 100%; */
	}
}

@media (max-width: 991px) {
	/* Styles */
	.menuTitleAuth {
		background: rgb(245, 247, 246);
		visibility: visible;
		margin-top: 20px;
		padding-left: 30px;
		padding-top: 17px;
		padding-bottom: 17px;
		font-size: 20px;
		font-weight: bolder;
		color: rgb(3, 2, 24);
	}

	.menuNoAuth {
		visibility: visible;
	}

	.hamburguerIconLines {
		width: 25px;
		height: 2px;
	}
}
